/*Especificidad: 001*/
body {
    color: #000000;
    background-color: #fdf8dd;
}

/*Especificidad: 001*/
h1 {
    text-align: center;
}

/*Especificidad: 001*/
button {
    color: #000000;
    background-color: #f77750;

    padding: 1em;
}

/*Especificidad: 001*/
h2 {
    grid-column-end: span 2;
}

/*Especificidad: 001*/
address,
footer {
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

/*Especificidad: 003*/
address p a{
    color: rgb(179, 226, 248);
    background-color: rgb(0, 0, 0);
}